<div id="cards" class="tab-pane fade show active">
    <div class="row" th:unless="${userAccounts}">
        <div class="col">
            <p>Карты отсутствуют</p>
        </div>
    </div>

    <div class="row" th:if="${userAccounts}">
        <div class="col-md-4" th:each="account : ${userAccounts}">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="far fa-credit-card" style="color: #2a5ab3;"></i>
                        <span th:text="${account.getCard.getName}"></span>
                        <small class="text-muted font-italic"
                               th:text="' (' + ${account.getCurrency.getCode.name} + ')'"></small>
                    </h5>
                    <p class="card-text">Номер карты: <span class="card-number font-weight-bold"
                                                            th:text="${account.getCard.getCardNumber}"></span>
                    </p>
                    <p class="card-text">Баланс: <span class="card-balance font-weight-bold"
                                                       th:text="${account.getBalance} + ' ' + ${account.getCurrency.getCode.name}"></span>
                    </p>
                    <button th:id="'toggle-button-card-' + ${account.getCard.getId}"
                            class="btn btn-link toggle-button-card">
                        <i class="fas fa-eye-slash"></i> Скрыть
                    </button>
                    <a href="#" class="btn top-up-account" data-toggle="modal" data-target="#topUpAccountModal" th:data-currency="${account.getCurrency.getCode.name}"><i class="fas fa-money-bill-wave-alt"></i> Пополнить</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{js/card-toggler.js}"></script>