<div id="transactions" class="tab-pane fade">
    <table id="transaction-table" data-pagination="true"
           data-toggle="table" data-sortable="true" data-side-pagination="server" data-url="api/v1/transactions"
           data-classes="table table-striped table-hover">
        <thead>
        <tr>
            <th data-field="id" data-sortable="true">№</th>
            <th data-field="senderUsername">Отправитель</th>
            <th data-field="receiverUsername">Получатель</th>
            <th data-field="amount" data-sortable="true">Сумма</th>
            <th data-field="currency">Валюта</th>
            <th data-field="type">Тип</th>
            <th data-field="createdAt" data-sortable="true">Дата</th>
        </tr>
        </thead>
    </table>
</div>