<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="~{blocks/head :: head}"></th:block>
</head>

<body>
<header th:replace="~{blocks/header :: header}"></header>

<div class="container mt-5">
    <!-- User Profile Card -->
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0" th:text="${user.getFullName}"></h3>
            <p class="mb-0" th:text="'@' + ${user.getUsername}"></p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Персональная информация</h5>
            <p class="card-text">Полное имя: <span th:text="${user.getFullName}" class="font-weight-bold"></span></p>
            <p class="card-text">Почта: <span th:text="${user.getEmail}" class="font-weight-bold"></span></p>
            <p class="card-text">Дата регистрации: <span th:text="${user.getCreatedAt}" class="font-weight-bold"></span>
            </p>
        </div>
    </div>

    <!-- Tabs for Cards and Accounts -->
    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#cards">Карты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#transfers">Переводы</a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-3">
        <!-- Cards Tab -->
        <div id="cards" class="tab-pane fade show active">
            <div class="row" th:unless="${userAccounts}">
                <div class="col">
                    <p>Карты отсутствуют</p>
                </div>
            </div>

            <div class="row" th:if="${userAccounts}">
                <div class="col-md-4" th:each="account : ${userAccounts}">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:text="${account.getCard.getName}"></span>
                                <small class="text-muted font-italic"
                                       th:text="' (' + ${account.getAccountNumber} + ')'"></small>
                            </h5>
                            <p class="card-text">Номер карты: <span class="card-number font-weight-bold"
                                                                    th:text="${account.getCard.getCardNumber}"></span>
                            </p>
                            <p class="card-text">Баланс: <span class="card-balance font-weight-bold"
                                                               th:text="${account.getBalance} + ' ' + ${account.getCurrency}"></span>
                            </p>
                            <button th:id="'toggle-button-card-' + ${account.getCard.getId}"
                                    class="btn btn-link toggle-button-card">
                                <i class="fas fa-eye-slash"></i> Скрыть
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Transfers Tab -->
        <div id="transfers" class="tab-pane fade">
            <div class="mt-3">
                <h5>Перевод средств</h5>
                <form method="post" th:action="@{/transfer-money}" id="transferForm">
                    <div class="form-group">
                        <label for="recipient-username">Имя получателя</label>
                        <input type="text" class="form-control" id="recipient-username" name="recipient"
                               placeholder="@medlcago">
                    </div>
                    <div class="form-group">
                        <label for="amount">Сумма</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="amount" name="amount" min="1" maxlength="6"
                                   placeholder="500">
                            <div class="input-group-append">
                                <select class="custom-select" id="currency" name="currency">
                                    <option th:each="account : ${userAccounts}" th:name="${account.getCurrency}"
                                            th:text="${account.getCurrency}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Перевести</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{js/card-toggler.js}"></script>

</body>
</html>
