<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{blocks/head :: head}"></th:block>
</head>

<body>
<header th:replace="~{blocks/header :: header}"></header>

<div class="container">
    <style>
        .form-control,
        .card,
        .register {
            border-radius: 10px;
        }
    </style>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="text-center">Регистрация</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/registration}" th:object="${UserRegistrationForm}" method="post">
                        <div class="form-group">
                            <label for="username">Логин:</label>
                            <input type="text" class="form-control" id="username" th:field="*{username}"
                                   placeholder="durov" required minlength="5" maxlength="16">
                            <small class="text-danger" th:errors="*{username}"></small>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="firstName">Имя:</label>
                                <input type="text" class="form-control" id="firstName" th:field="*{firstName}"
                                       placeholder="Павел" required minlength="2" maxlength="64">
                                <small class="text-danger" th:errors="*{firstName}"></small>
                            </div>
                            <div class="col">
                                <label for="lastName">Фамилия:</label>
                                <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                                       placeholder="Дуров" required minlength="2" maxlength="64">
                                <small class="text-danger" th:errors="*{lastName}"></small>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}"
                                   placeholder="durov@example.com" required maxlength="128">
                            <small class="text-danger" th:errors="*{email}"></small>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль:</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}"
                                   placeholder="Введите пароль" required minlength="6" maxlength="32">
                            <small class="text-danger" th:errors="*{password}"></small>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Подтверждение пароля:</label>
                            <input type="password" class="form-control" id="confirmPassword"
                                   th:field="*{confirmPassword}"
                                   placeholder="Подтвердите пароль" required minlength="6" maxlength="32">
                            <small class="text-danger" th:errors="*{confirmPassword}"></small>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block register">Зарегистрироваться</button>
                    </form>
                    <div th:replace="~{blocks/loading_overlay.html}"></div>
                </div>
                <div class="text-center mt-3">
                    <p>Уже есть аккаунт?
                        <a th:href="@{/login}">Войти</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>